# Python
__pycache__/
*.py[cod]
venv/
.venv/
.env
.env.local

# Node
node_modules/
.next/
out/
build/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Local
web.txt
bot.txt
.env.example
env.*
.viewrc
view.py